.about{
    align-items: center;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 75px;
}

.flex{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.that-font{
}

.about img{
    max-width: 90%;
    max-height: auto;
}

.img-container{
    width: 50%;
}

.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
@media only screen and (max-width: 1000px){
    .flex{
        display: flex;
        flex-direction: column;
        align-items: center;
      }

}
@media only screen and (max-width: 1250px) {

    .img-container{
        width: 80%;
    }
    
    .container{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
    }
    .container .before-text-container{
            display: none;
        }
        .container .after-text-container{
        width: 80%;
       display: block;
       color: black;
    }
}

.before-text-container{
    width: 50%;
    display: block;
}

.after-text-container{
    display: none;
}

.item{
    border: 1px solid grey;
    padding-top: 100px;
    padding-bottom: 100px;
}