.experience{
    align-items: center;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 50px;
}

.padding-top{
    padding-top: 25px;
}
.experience h1{
    font-size: 3vw;
}

.nav img{
    max-width: 7vw;
    max-height: auto;
}

.flex-item {
    flex: 1;
    transition: all 1.5s ease;
}
.flex-item:hover {
    flex-grow: 11;
}



.other img{
    width: 35vw;
    height: 25vw;
}

.popup img{
    width: 20vw;
    height: 20vw;
    margin-left: 10px;
}

.experience-container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding-top: 30px;
    padding-bottom: 30px;
}

.show-flex{
    display: flex;
    align-items: center;
    justify-content: baseline;
    flex-wrap: wrap;

}

.experience-flex{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.exp{
    border: 1px solid black;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px 5px 5px 5px;
}

.boxPopup {
    display: none; 
    position: fixed; 
    z-index: 1; 
    margin-top: 100px;
    margin-left: 25px;
    margin-right: 25px;
    padding: 50px 50px 50px 50px;
    left: 0;
    top: 0;
    height: auto; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.9); 
    color: ivory;
}             
.open-button {
    background-color: #1c87c9;
    color: white;
    padding: 12px 20px;
    font-size: 100PX;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
}
/* Hide Popup*/
.form-popup {           
    z-index: 9;
    max-width: 90%;
    max-height: 90%;
    overflow-x:scroll;
    margin: 0 auto;
}   

.close{
    color: ivory;
    
}
/*}
.close {
    color: #aaa;
    float: center;
    font-size: 50px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }*/

  .ath{
      /*background-color: rgb(34,139,34, 0.6) ;*/
      background-color: rgb(0,0,0, 0.6);
      position: absolute;
      height: 20vw;
      width: 25vw;
      border-radius: 25px;
      background-size: contain;
  }
  
  .back_ath{
    background-image: url("/athanasius.png");
    margin-bottom: 10px;
    margin-left: 10px;
    position: relative;
    width: 25vw;
    height: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-repeat:no-repeat;
    border-radius: 25px;
  }
  .back_walk{
    background-image: url("/walk_in_hope.png");
    margin-bottom: 10px;
    margin-left: 10px;
    position: relative;
    width: 25vw;
    height: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-repeat:no-repeat;
    border-radius: 25px;
  }
  .back_sosl{
    background-image: url("/sosl.png");
    margin-bottom: 10px;
    margin-left: 10px;
    position: relative;
    width: 25vw;
    height: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-repeat:no-repeat;
    border-radius: 25px;
  }

  .back_ride{
    background-image: url("/ride-for-life.png");
    margin-bottom: 10px;
    margin-left: 10px;
    position: relative;
    width: 25vw;
    height: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-repeat:no-repeat;
    border-radius: 25px;
  }
  .back_stellar{
    background-image: url("/shf.png");
    margin-bottom: 10px;
    margin-left: 10px;
    position: relative;
    width: 25vw;
    height: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-repeat:no-repeat;
    border-radius: 25px;
  }
  .back_hidden{
    background-image: url("/hidden_gems.png");
    margin-bottom: 10px;
    margin-left: 10px;
    position: relative;
    width: 25vw;
    height: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-repeat:no-repeat;
    border-radius: 25px;
  }
  .back_tictac{
    background-image: url("/tic-tac-toe.gif");
    margin-bottom: 10px;
    margin-left: 10px;
    position: relative;
    width: 25vw;
    height: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-repeat:no-repeat;
    border-radius: 25px;
  }
  .back_mercy{
    background-image: url("/divine.png");
    margin-bottom: 10px;
    margin-left: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-repeat:no-repeat;
    border-radius: 25px;
    height: 20vw;
    width: 25vw;
  }
  .back_alert{
    background-image: url("/alert.gif");
    margin-bottom: 10px;
    margin-left: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-repeat:no-repeat;
    border-radius: 25px;
    height: 20vw;
    width: 25vw;
  }
  .back_etsy{
    background-image: url("/etsy.gif");
    margin-bottom: 10px;
    margin-left: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-repeat:no-repeat;
    border-radius: 25px;
    height: 20vw;
    width: 25vw;
  }


* {
  margin: 0;
  padding: 0;
  border: 0;
}
  .ath_description{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(29, 106, 154, 0.8);
    color: #fff;
    opacity: 0;
    color: ivory;
    visibility: hidden;
    opacity: 0;
    border-radius: 25px;
    padding-top: 10%;


  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
  }
  .ath_initial{
    color: blanchedalmond;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 25%;
    transition: opacity .1s, visibility .1s;
  }
  .ath:hover .ath_description{
    visibility: visible;
    opacity: 8;
}

.description{
    padding-bottom: 15px;
}
.exp-button{
    background: none;
    border: 2px solid wheat;
    border-radius: 25px;
    padding: 10px;
    color: wheat;
    margin: 5px;
    font-size: 1vw;
    text-decoration: none;
}

.exp-button:hover{
    background-color: rgb(29, 106, 154);
}
.ath:hover .ath_button{
    visibility: visible;
}
.ath:hover .ath_initial{
    visibility: hidden;
}

.font{
    font-size: 1.8vw;
}
.top-text{
    margin: 40px 100px 100px 100px;
}
.top-text a{
    color: green;
    text-decoration: none;
}

.h1{
    text-align: center;
    padding-top: 25px;
    font-size: 7vw;
}

.language-icon{
    width: 2vw;
    height: 2vw;
}

.icon-container{
    padding-top: 10%;
}
@media only screen and (max-width: 550px) {

    .language-icon{
        width: 10vw;
        height: 10vw;
    }
    
    .h1 {
        font-size: 9vw;
    }
    .top-text{
        margin: 10px 50px 50px 10px;
    }
    

    .back_alert{
        background-image: url("/alert.gif");
        margin-bottom: 10px;
        margin-left: 10px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: contain;
        background-repeat:no-repeat;
        border-radius: 25px;
        height: 50vw;
        width: 60vw;
      }
    

    .ath_description{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(29, 106, 154, 0.8);
        color: #fff;
        opacity: 0;
        color: ivory;
        visibility: hidden;
        opacity: 0;
        border-radius: 25px;
        padding-top: 20%;
    
    
      /* transition effect. not necessary */
      transition: opacity .2s, visibility .2s;
      }
    
    .exp-button{
        background: none;
        border: 2px solid wheat;
        border-radius: 25px;
        padding: 10px;
        color: wheat;
        margin: 5px;
        font-size: 2.5vw;
        text-decoration: none;
    }
    
    .font{
        font-size: 3vw;
    }
    
    .experience-flex{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .ath{
        /*background-color: rgb(34,139,34, 0.6) ;*/
        background-color: rgb(0,0,0, 0.8);
        position: absolute;
        height: 50vw;
        width: 60vw;
        border-radius: 25px;
        background-size: contain;
    }
    
    .back_ath{
      background-image: url("/athanasius.png");
      margin-bottom: 10px;
      margin-left: 10px;
      position: relative;
      width: 60vw;
      height: 50vw;
      display: flex;
      justify-content: center;
      align-items: center;
      background-size: contain;
      background-repeat:no-repeat;
      border-radius: 25px;
    }
    .back_walk{
      background-image: url("/walk_in_hope.png");
      margin-bottom: 10px;
      margin-left: 10px;
      position: relative;
      width: 60vw;
      height: 50vw;
      display: flex;
      justify-content: center;
      align-items: center;
      background-size: contain;
      background-repeat:no-repeat;
      border-radius: 25px;
    }
    .back_sosl{
      background-image: url("/sosl.png");
      margin-bottom: 10px;
      margin-left: 10px;
      position: relative;
      width: 60vw;
      height: 50vw;
      display: flex;
      justify-content: center;
      align-items: center;
      background-size: contain;
      background-repeat:no-repeat;
      border-radius: 25px;
    }
  
    .back_ride{
      background-image: url("/ride-for-life.png");
      margin-bottom: 10px;
      margin-left: 10px;
      position: relative;
      width: 60vw;
      height: 50vw;
      display: flex;
      justify-content: center;
      align-items: center;
      background-size: contain;
      background-repeat:no-repeat;
      border-radius: 25px;
    }
    .back_stellar{
      background-image: url("/shf.png");
      margin-bottom: 10px;
      margin-left: 10px;
      position: relative;
      width: 60vw;
      height: 50vw;
      display: flex;
      justify-content: center;
      align-items: center;
      background-size: contain;
      background-repeat:no-repeat;
      border-radius: 25px;
    }
    .back_hidden{
      background-image: url("/hidden_gems.png");
      margin-bottom: 10px;
      margin-left: 10px;
      position: relative;
      width: 60vw;
      height: 50vw;
      display: flex;
      justify-content: center;
      align-items: center;
      background-size: contain;
      background-repeat:no-repeat;
      border-radius: 25px;
    }
    .back_tictac{
      background-image: url("/tic-tac-toe.gif");
      margin-bottom: 10px;
      margin-left: 10px;
      position: relative;
      width: 60vw;
      height: 50vw;
      display: flex;
      justify-content: center;
      align-items: center;
      background-size: contain;
      background-repeat:no-repeat;
      border-radius: 25px;
    }
    .back_mercy{
      background-image: url("/divine.png");
      margin-bottom: 10px;
      margin-left: 10px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      background-size: contain;
      background-repeat:no-repeat;
      border-radius: 25px;
      height: 50vw;
      width: 60vw;
    }
    .back_etsy{
        background-image: url("/etsy.gif");
        margin-bottom: 10px;
        margin-left: 10px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: contain;
        background-repeat:no-repeat;
        border-radius: 25px;
        height: 50vw;
        width: 60vw;
      }
  
  
}
