.navigation {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    text-decoration: none;
    align-items: baseline;
  }
  .nav-back{
    background-color: rgb(211,211,211, 0.5);
    min-height: calc(100vh)
  }
  .nav-item{
      padding: 20px;
      width: 150px;
      text-align: left;
  }

  .verticalLine {
    border-right: thick solid gray;
  }

  @media only screen and (max-width: 1000px) {
    .nav-back{
        background-color: white;
        min-height: auto;
      }
    
    .nav-item{
        padding: 10px;
        width: 150px;
        text-align: center;
    }
  
      .navigation{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        text-decoration: none;
      }

  }

